<div class="product">

  <div>
    <div>
      <div class="flex-center">
        <quill-view-html [content]="product.photo"></quill-view-html>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h2 class="product-title">{{product.title}}</h2>
    <h2>Price:{{product.price}} $</h2>
    <button [routerLink]="['/product', product.id]" class="btn btn-dark">Open</button>
    <button [routerLink]="['/cart']" class="btn btn-dark" (click)="addProduct(product)">Add to cart</button>
  </div>

</div>